<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestMovieList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56E2D2771CB0369900193C49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E2D2901CB0369D00193C49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56E2D29B1CB0369D00193C49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
